*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body {
    background-image: url("images/bg.gif");
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
.game{
    width: 1900px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 150px;
    height: 250px;
    margin-left: 200px;
    background-image: url("images/carac.gif");
    background-size: 150px 250px;
    position:relative;
    top: 450px;
}
.animate{
    animation: jump 1s linear;
}
@keyframes jump{
    0%, 100% {
        transform: translateY(450);
      }
      50% {
        transform: translateY(-450px);
      }
}

#block{
    /* background-color: blue; */
    background-image: url("images/g1.gif");
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    position: relative;
    top: 350px;
    left: 1900px;
    animation: block 4s infinite linear;
    border: 1ex solid brown;
}
@keyframes block{
    0%{left: 1900px}
    100%{left: -60px}
}
p{
    text-align: center;
}